<head>
  <meta charset="UTF-8">
  <title>Geek Connection</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="../../public/css/main.css">
</head>

<body>
  <div>
<header>
    <img src="./images/dragon.svg" id="dragon" />
    <a href="./home.html"><h1>Geek Connect</h1></a>
  </header>
      <main>
        {{{ body }}}
      </main>
  </div>
  </body>
</html>