<head>
  <meta charset="UTF-8">
  <title>Geek Connection</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/profile.css">
</head>

<body>
  <div>
<header>
    <img src="/images/dragon.svg" id="dragon" />
  <img src="/images/gc_logo.png" alt="geek connect" id="gc-logo">
  </header>
      <main>
        {{{ body }}}
      </main>
  </div>
  <footer>Created by Tori Hendricks, Chris Ginn, Mac Schmitz, and Brandi Peters</footer>
  </body>
</html>
