<head>
  <meta charset="UTF-8">
  <title>Geek Connection</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/profile.css">
</head>

<body>
  <div>
<header>
    <img src="/images/dragon.svg" id="dragon" />
  <h1>Geek Connect</h1></a>
  </header>
      <main>
        {{{ body }}}
      </main>
  </div>
  <footer>Created by Tori Hendricks, Chris Ginn, Mac Schmitz, and Brandi Peters</footer>
  </body>
</html>