<head>
  <meta charset="UTF-8">
  <title>Geek Connect</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link href="http://fonts.cdnfonts.com/css/harry-potter" rel="stylesheet">
  <link href="http://fonts.cdnfonts.com/css/sf-distant-galaxy" rel="stylesheet">
  <link href="//db.onlinewebfonts.com/c/97c4b25dc74e0ab045154e75a8fdd69d?family=Game+of+Thrones" rel="stylesheet"
    type="text/css" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet" href="/css/post.css">
</head>

<body>
  <div>
    <header>
      <img src="/images/dragon.svg" id="dragon" />
      <img src="/images/gc_logo.png" alt="geek connect" id="gc-logo">
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>
  <footer>Created by Tori Hendricks, Chris Ginn, Mac Schmitz, and Brandi Peters</footer>
</body>

</html>