<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Geek Connection</title>
    <link rel="stylesheet" href="../public/css/reset.css" />
    <link rel="stylesheet" href="../public/css/main.css" />
    <link rel="stylesheet" href="../public/css/profile.css" />
  </head>

  <body>
    <section>
      <img
        src="../public/images/harry-potter-logo.svg"
        alt="Harry Potter wordmark"
        class="explore-header"
      />
      <img
        src="../public/images/hogwarts-house-crest.png"
        alt="Hogwarts House Crest"
        class="explore-image"
      />
    </section>
    <section class="container flexbox">
      <div class="card flexcard">
        <h3>userOne</h3>
        <img
          src="../public/images/dragon.svg"
          alt="avatar"
          class="avatar-image"
        />
        <div>
          <h4>Gryffindor</h4>
          <img
            src="../public/images/gryffindor.png"
            alt="house icon"
            class="tag-icon"
          />
        </div>
        <button type="button" class="like-button">like</button>
        <button type="button" class="comment-button">comment</button>
      </div>
      <div class="card flexcard">
        <h3>userOne</h3>
        <img
          src="../public/images/dragon.svg"
          alt="avatar"
          class="avatar-image"
        />
        <div>
          <h4>Gryffindor</h4>
          <img
            src="../public/images/gryffindor.png"
            alt="house icon"
            class="tag-icon"
          />
        </div>
        <button type="button" class="like-button">like</button>
        <button type="button" class="comment-button">comment</button>
      </div>
      <div class="card flexcard">
        <h3>userOne</h3>
        <img
          src="../public/images/dragon.svg"
          alt="avatar"
          class="avatar-image"
        />
        <div>
          <h4>Gryffindor</h4>
          <img
            src="../public/images/gryffindor.png"
            alt="house icon"
            class="tag-icon"
          />
        </div>
        <button type="button" class="like-button">like</button>
        <button type="button" class="comment-button">comment</button>
      </div>
      <div class="card flexcard">
        <h3>userOne</h3>
        <img
          src="../public/images/dragon.svg"
          alt="avatar"
          class="avatar-image"
        />
        <div>
          <h4>Gryffindor</h4>
          <img
            src="../public/images/gryffindor.png"
            alt="house icon"
            class="tag-icon"
          />
        </div>
        <button type="button" class="like-button">like</button>
        <button type="button" class="comment-button">comment</button>
      </div>
      <div class="card flexcard">
        <h3>userOne</h3>
        <img
          src="../public/images/dragon.svg"
          alt="avatar"
          class="avatar-image"
        />
        <div>
          <h4>Gryffindor</h4>
          <img
            src="../public/images/gryffindor.png"
            alt="house icon"
            class="tag-icon"
          />
        </div>
        <button type="button" class="like-button">like</button>
        <button type="button" class="comment-button">comment</button>
      </div>
      <div class="card flexcard">
        <h3>userOne</h3>
        <img
          src="../public/images/dragon.svg"
          alt="avatar"
          class="avatar-image"
        />
        <div>
          <h4>Gryffindor</h4>
          <img
            src="../public/images/gryffindor.png"
            alt="house icon"
            class="tag-icon"
          />
        </div>
        <button type="button" class="like-button">like</button>
        <button type="button" class="comment-button">comment</button>
      </div>
      <div class="card flexcard">
        <h3>userOne</h3>
        <img
          src="../public/images/dragon.svg"
          alt="avatar"
          class="avatar-image"
        />
        <div>
          <h4>Gryffindor</h4>
          <img
            src="../public/images/gryffindor.png"
            alt="house icon"
            class="tag-icon"
          />
        </div>
        <button type="button" class="like-button">like</button>
        <button type="button" class="comment-button">comment</button>
      </div>
    </section>
  </body>
</html>
