<div class="section" id="fandoms">
  <div id="login">
    <p>LOGIN</p><br />
    <form id="login-form">
      <label for="username">Email:: </label>
      <input type="text" id="email-login" name="username" />
      <label for="password">Password: </label>
      <input type="text" id="password-login" name="password" /><br /><br />
       <input type="submit" id="login" value="Submit" /><br /><br />
    </form>
    <div class="smallPrint">Don't have a login? |
      <a href="signup" TO SIGNUP HANDLEBARS>Register New Account</a>
      <br />Forgot your password? | Reset
    </div>
  </div><hr />
  <div>
    <br /><p>Find your new favorite people based on common worlds!</p><br />
  </div>
</div>
<div class="section">
  <div class="row">
    <div class="column">
      <div class="card">
        <img
          src="/images/star_wars_logo.jpg"
          alt="Avatar"
          style="width:100%"
        />
        <h4><b>Star Wars</b></h4>
        <p>Find your faction</p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="/images/got_logo.jpeg" alt="Avatar" style="width:100%" />
        <div>
          <h4><b>Game of Thrones</b></h4>
          <p>Choose your favorite house</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img
          src="/images/hogwarts-house-crest.png"
          alt="Avatar"
          style="width:100%"
        />
        <div>
          <h4><b>Harry Potter</b></h4>
          <p>Where do you belong?</p>
        </div>
      </div>
    </div>
  </div>
  <div class="home-descript">
    <p>Add friends and chat about the worlds you love.</p>
    <p>Sign up today to find your tribe.</p>
  </div>
</div>