<!-- Trigger/Open the Modal -->
<button onclick="document.getElementById('id01').style.display='block'" class="w3-button" id="modalBtn">Login</button>

<!-- The Modal -->
<div id="id01" class="w3-modal modalx">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('id01').style.display='none'"
        class="w3-button w3-display-topright">&times;</span><br><br>
      <div id="login-form">
        <form>
          <label for="email">Email: </label>
          <input type="text" id="email-login" name="email" />
          <label for="password">Password: </label>
          <input type="text" id="password-login" name="password" />
          <input type="submit" id="login" value="Login" /><br /><br />
        </form>
        <div class="smallPrint">Don't have a login? | Register New Account</a>
          <!-- <br>Forgot your password? | Reset -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Trigger/Open the Modal -->
<button onclick="document.getElementById('id02').style.display='block'" class="w3-button" id="signupBtn">Sign
  Up</button>

<!-- The Modal -->
<div id="id02" class="w3-modal modalx">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('id02').style.display='none'"
        class="w3-button w3-display-topright">&times;</span><br><br>
      <div id="signup-form">
        <form>
          <label for="email">E-mail Address:</label><br />
          <input type="text" id="email_signup" name="email" /><br /><br />
          <label for="username">Username:</label><br />
          <input type="text" id="username_signup" name="username" /><br />
          <label for="password">Password:</label><br />
          <input type="text" id="password_signup" name="password" /><br /><br>
          <input type="submit" value="Create Account" id="submit" /><br><br><br>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="about">
  <p>We're all introverts here! Geek Connect makes it easier to start a conversations</p>
  <p>Find your new favorite people based on common interests in fantasy worlds.</p>
    <p>Light sabers, swords, and wands... oh my!</p>
</div>
<section>
  <div class="section" id="slider">
    <img class="mySlides w3-animate-bottom" src="images/star_wars_logo.jpg">
    <img class="mySlides w3-animate-bottom" src="images/got_logo.jpeg">
    <img class="mySlides w3-animate-bottom" src="images/hogwarts-house-crest.png">
    {{!-- <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
    <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button> --}}
  </div>
</section>

<div class="mySlides2">
  <div class="w3-container w3-red">
    <h1><b>Did You Know?</b></h1>
    <h1><i>We plan to sell trips to the moon in the 2020s</i></h1>
  </div>
</div>

<div class="home-descript">
  <p>Add friends and chat about the worlds you love.</p>
  <p>Sign up today to find your tribe.</p>
</div>
</div>

<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>