<!-- Trigger/Open the Modal -->
<button onclick="document.getElementById('id01').style.display='block'" class="w3-button" id="modalBtn">Login</button>

<!-- The Modal -->
<div id="id01" class="w3-modal modalx">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('id01').style.display='none'"
        class="w3-button w3-display-topright">&times;</span><br><br>
      <div id="login-form">
        <form>
          <label for="email">Email: </label><br>
          <input type="text" id="email-login" name="email" /><br><br>
          <label for="password">Password: </label><br>
          <input type="text" id="password-login" name="password" /><br><br>
          <input type="submit" id="login" value="Login" /><br /><br /><br>
        </form>
        {{!-- <div class="smallPrint">Don't have a login? | Register New Account</a> --}}
          <!-- <br>Forgot your password? | Reset -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Trigger/Open the Modal -->
<button onclick="document.getElementById('id02').style.display='block'" class="w3-button" id="signupBtn">Sign
  Up</button>

<!-- The Modal -->
<div id="id02" class="w3-modal modalx">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('id02').style.display='none'"
        class="w3-button w3-display-topright">&times;</span><br><br>
      <div id="signup-form">
        <form>
          <label for="email">E-mail Address:</label><br />
          <input type="text" id="email_signup" name="email" /><br /><br />
          <label for="username">Username:</label><br />
          <input type="text" id="username_signup" name="username" /><br />
          <label for="password">Password:</label><br />
          <input type="text" id="password_signup" name="password" /><br /><br>
          <input type="submit" value="Create Account" id="submit" /><br><br><br>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="about">
  <p>We're all introverts here! Geek Connect makes it easier to start a conversation.</p>
  <p>Find your new favorite people based on common interests in fantasy worlds.</p>
</div>
<section>
  <div class="w3-row background" id="slider">
    <div class="w3-col s12 m6 l6">
      <img class="mySlides" src="images/star_wars_logo.jpg">
      <img class="mySlides" src="images/got_logo.jpeg">
      <img class="mySlides" src="images/hogwarts-house-crest.png">
      {{!-- <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
      <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button> --}}
    </div>


    <div class="w3-col s12 m6 l6">
      <div class="mySlides2">
        <div class="w3-container">
          <h1>Find your faction</h1>
          <p>
            Jedi<br>
            Sith<br>
            Wookie<br>
            Ewok<br>
            Droid
          </p>
        </div>
      </div>
      <div class="mySlides2">
        <div class="w3-container">
          <h1>Declare your allegiance</h1>
          <p>
            House Stark<br>
            House Targaryen<br>
            House Lannister<br>
            House Greyjoy<br>
            House Tyrell<br>
            House Baratheon<br>
            House Dorne
            <br><br><br>
          </p>
      </div>
      </div>
      <div class="mySlides2">
        <div class="w3-container">
          <h1>Choose your house</h1>
          <p>
            Gryffindor<br>
            Ravenclaw<br>
            Hufflepuff<br>
            Slytherin
          </p>
      </div>
    </div>
    </div>
</section>

<div class="home-descript">
  <p>Add friends and chat about the worlds you love.</p>
  <p>Sign up today to find your tribe.</p>
</div>
</div>
<div class="row">
  <div class="column2 w3-green w3-center"><p>s4</p></div>
  <div class="column2 w3-dark-grey w3-center"><p>s4</p></div>
  <div class="column2 w3-red w3-center"><p>s4</p></div>
</div>

<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>