<!-- Trigger/Open the Modal -->
<button onclick="document.getElementById('id01').style.display='block'" class="w3-button" id="modalBtn">Login</button>

<!-- The Modal -->
<div id="id01" class="w3-modal modalx">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('id01').style.display='none'"
        class="w3-button w3-display-topright">&times;</span><br><br>
      <div id="login-form">
        <form>
          <label for="email">Email: </label><br>
          <input type="text" id="email-login" name="email" /><br><br>
          <label for="password">Password: </label><br>
          <input type="password" id="password-login" name="password" /><br><br>
          <input type="submit" id="login" value="Login" /><br />
          <div id="errMsg"></div><br /><br>
          
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Trigger/Open the Modal -->
<button onclick="document.getElementById('id02').style.display='block'" class="w3-button" id="signupBtn">Sign
  Up</button>

<!-- The Modal -->
<div id="id02" class="w3-modal modalx">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('id02').style.display='none'"
        class="w3-button w3-display-topright">&times;</span><br><br>
      <div id="signup-form">
        <form>
          <label for="email">E-mail Address:</label><br />
          <input type="text" id="email_signup" name="email" /><br /><br />
          <label for="username">Username:</label><br />
          <input type="text" id="username_signup" name="username" /><br />
          <label for="password">Password:</label><br />
          <input type="password" id="password_signup" name="password" /><br /><br>
          <input type="submit" value="Create Account" id="submit" /><br>
          <div id="errMsg2"></div><br><br>
        </form>
        
        
      </div>
    </div>
  </div>
</div>

<div class="about">
  <p>We're all introverts here! Geek Connect makes it easier to start a conversation.</p>
  <p>Find your new favorite people based on common interests in fantasy worlds.</p>
</div>

<section>
  {{!-- <div class="w3-row background" id="slider">
    <div class="w3-col s12 m6 l6">
      <img class="mySlides" src="images/star_wars_logo.jpg">
      <img class="mySlides" src="images/got_logo.jpeg">
      <img class="mySlides" src="images/hogwarts-house-crest.png">
    </div> --}}

    <section class="details">
      <div class="w3-row details">
        <div class="w3-col s12 m6 w3-center"><img class="mySlide w3-animate-zoom" alt="Star Wars logo"
            src="images/star_wars_logo.jpg"></div>
        <div class="w3-col s12 m6 w3-center">
          <img class="mySlide w3-animate-zoom" alt="Star Wars factions list"
            src="images/SW_factions/SW_list.png">
        </div>
      </div>
      <div class="w3-row details w3-hide-small">
        <div class="w3-col s12 m6 w3-center"><img class="mySlide w3-animate-zoom" alt="Game of Thrones list of houses"
            src="images/GoT_sigils/GoT_list.png"></div>
        <div class="w3-col s12 m6 w3-center"><img class="mySlide w3-animate-zoom" alt="Game of Thrones logo"
            src="images/got_logo.jpeg"></div>
      </div>

      <div class="w3-row details w3-hide-medium	w3-hide-large">
        <div class="w3-col s12 m6 w3-center"><img class="mySlide w3-animate-zoom" alt="Game of Thrones logo"
            src="images/got_logo.jpeg"></div>
        <div class="w3-col s12 m6 w3-center"><img class="mySlide w3-animate-zoom" alt="Game of Thrones list of houses"
            src="images/GoT_sigils/GoT_list.png"></div>

      </div>

      <div class="w3-row">
        <div class="w3-col s12 m6 w3-center"><img class="mySlide w3-animate-zoom" alt="Harry Potter house crests"
            src="images/hogwarts-house-crest.png"></div>
        <div class="w3-col s12 m6 w3-center"><img class="mySlide w3-animate-zoom" alt="Harry Potter house list"
            src="images/hp_crests/HP_list.png"></div>
      </div>
    </section>

    <div class="home-descript">
      <p>Add friends and chat about the worlds you love.</p>
      <p>Sign up today to find your tribe.</p>
    </div>

    <script src="/js/login.js"></script>
    <script src="/js/signup.js"></script>
