<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Geek Connection</title>
    <link rel="stylesheet" href="../public/css/reset.css" />
    <link rel="stylesheet" href="../public/css/main.css" />
    <link rel="stylesheet" href="../public/css/profile.css" />
  </head>

  <body>
    <div class="">
      <header class="">
        <h1>Geek Connection</h1>
      </header>
      <main class="container grid-container">
        <div class="grid-item grid-item-1">
          <h2 id="welcome">Welcome, Mac!</h2>
        </div>
        <div class="profile grid-item grid-item-2">
          <section class="card">
            <h2>Profile</h2>
            <img
              src="/public/images/chinese_zodiac_dragon_color.svg"
              alt="profile avatar"
              width="30%"
              height="30%"
            />
            <h3>mschmitzzz</h3>
            <h3>Star Wars</h3>
            <h4>Jedi</h4>
          </section>
        </div>
        <section id="matched-users grid-item grid-item-3">
          <div class="card right">
            userOne
            <div class="">
              <p>usernameOne Star Wars</p>
            </div>
            <div class="">
              <p>House: Sith</p>
            </div>
            <button type="button" class="like-button">like</button>
            <button type="button" class="comment-button">comment</button>
          </div>
          <div class="card right">
            userTwo
            <div class="">
              <p>usernameTwo Harry Potter</p>
            </div>
            <div class="">
              <p>House: Slitherin</p>
            </div>
            <button type="button" class="like-button">like</button>
            <button type="button" class="comment-button">comment</button>
          </div>
          <div class="card right">
            userThree
            <div class="">
              <p>usernameThree Game of Thrones</p>
            </div>
            <div class="">
              <p>House: Lannister</p>
            </div>
            <button type="button" class="like-button">like</button>
            <button type="button" class="comment-button">comment</button>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
