<section>
  <h3>Click on the fandom name to choose your factions.</h3>
</section>

<!-- ABSOLUTELY NEED -->
<button
  onclick="myFunction('Demo1')"
  class="w3-button w3-block w3-center-align background"
>
  Star Wars</button>
<div id="form">
<div id="Demo1" class="w3-container w3-hide">
  <form class="w3-left-align">
    <input class="starwars" type="radio" id="Jedi" name="SW" value="1" />
    <label for="SW"> Jedi</label><br />
    <input class="starwars" type="radio" id="Sith" name="SW" value="2" />
    <label for="SW"> Sith</label><br />
    <input class="starwars" type="radio" id="Wookie" name="SW" value="3" />
    <label for="SW"> Wookie</label><br />
    <input class="starwars" type="radio" id="Ewok" name="SW" value="4" />
    <label for="SW"> Ewok</label><br />
    <input class="starwars" type="radio" id="Droid" name="SW" value="5" />
    <label for="SW"> Droid</label>
  </form><br />
</div>
<button
  onclick="myFunction('Demo2')"
  class="w3-button w3-block w3-center-align background"
>
  Game of Thrones</button>

<div id="Demo2" class="w3-container w3-hide">
  <form class="w3-left-align">
    <input type="radio" id="Stark" name="GoT" value="6" />
    <label for="GoT"> House Stark</label><br />
    <input type="radio" id="Targaryen" name="GoT" value="8" />
    <label for="GoT"> House Targaryen</label><br />
    <input type="radio" id="Lannister" name="GoT" value="7" />
    <label for="GoT"> House Lannister</label><br />
    <input type="radio" id="Greyjoy" name="GoT" value="9" />
    <label for="GoT"> House Greyjoy</label><br />
    <input type="radio" id="Tyrell" name="GoT" value="11" />
    <label for="GoT"> House Tyrell</label><br />
    <input type="radio" id="Baratheon" name="GoT" value="12" />
    <label for="GoT"> House Baratheon</label><br />
    <input type="radio" id="Dorne" name="GoT" value="10" />
    <label for="GoT"> House Dorne</label>
  </form><br />
</div>
<button
  onclick="myFunction('Demo3')"
  class="w3-button w3-block w3-center-align background"
>
  Harry Potter</button>

<div id="Demo3" class="w3-container w3-hide">
  <form class="w3-left-align">
    <input type="radio" id="Gryffindor" name="HP" value="13" />
    <label for="HP"> Gryffindor</label><br />
    <input type="radio" id="Ravenclaw" name="HP" value="15" />
    <label for="HP"> Ravenclaw</label><br />
    <input type="radio" id="Hufflepuff" name="HP" value="14" />
    <label for="HP"> Hufflepuff</label><br />
    <input type="radio" id="Slytherin" name="HP" value="16" />
    <label for="HP"> Slytherin</label>
  </form><br />
</div>

<section>
  <h4>Click update profile to save your choices.</h4>
</section>
<div>
  
  <form>
    <input type="submit" value="Update Profile" id="submit" /><br />
  </form>
  <div id="errorMsg"></div>
</div>
</div>

<script src="/js/login.js"></script>
{{!-- <script src="/js/signup.js"></script> --}}
<script src="/js/usertag.js"></script>
