<section>
  <h3>Click on the fandom name to choose your factions.</h3>
</section>

<!-- ABSOLUTELY NEED -->
<button
  onclick="myFunction('Demo1')"
  class="w3-button w3-block w3-center-align background"
>
  Star Wars</button>

<div id="Demo1" class="w3-container w3-hide">
  <form class="w3-left-align">
    <input type="radio" id="Jedi" name="SW" value="Jedi" />
    <label for="SW"> Jedi</label><br />
    <input type="radio" id="Sith" name="SW" value="Sith" />
    <label for="SW"> Sith</label><br />
    <input type="radio" id="Wookie" name="SW" value="Wookie" />
    <label for="SW"> Wookie</label><br />
    <input type="radio" id="Ewok" name="SW" value="Ewok" />
    <label for="SW"> Ewok</label><br />
    <input type="radio" id="Droid" name="SW" value="Droid" />
    <label for="SW"> Droid</label>
  </form><br />
</div>
<button
  onclick="myFunction('Demo2')"
  class="w3-button w3-block w3-center-align background"
>
  Game of Thrones</button>

<div id="radio" class="w3-container w3-hide">
  <form class="w3-left-align">
    <input type="radio" id="Stark" name="GoT" value="House Stark" />
    <label for="GoT"> House Stark</label><br />
    <input type="radio" id="Targaryen" name="GoT" value="House Targaryen" />
    <label for="GoT"> House Targaryen</label><br />
    <input type="radio" id="Lannister" name="GoT" value="House Lannister" />
    <label for="GoT"> House Lannister</label><br />
    <input type="radio" id="Greyjoy" name="GoT" value="House Greyjoy" />
    <label for="GoT"> House Greyjoy</label><br />
    <input type="radio" id="Tyrell" name="GoT" value="House Tyrell" />
    <label for="GoT"> House Tyrell</label><br />
    <input type="radio" id="Baratheon" name="GoT" value="House Baratheon" />
    <label for="GoT"> House Baratheon</label><br />
    <input type="radio" id="Dorne" name="GoT" value="House Dorne" />
    <label for="GoT"> House Dorne</label>
  </form><br />
</div>
<button
  onclick="myFunction('Demo3')"
  class="w3-button w3-block w3-center-align background"
>
  Harry Potter</button>

<div id="Demo3" class="w3-container w3-hide">
  <form class="w3-left-align">
    <input type="radio" id="Gryffindor" name="HP" value="Gryffindor" />
    <label for="HP"> Gryffindor</label><br />
    <input type="radio" id="Ravenclaw" name="HP" value="Ravenclaw" />
    <label for="HP"> Ravenclaw</label><br />
    <input type="radio" id="Hufflepuff" name="HP" value="Hufflepuff" />
    <label for="HP"> Hufflepuff</label><br />
    <input type="radio" id="Slytherin" name="HP" value="Slytherin" />
    <label for="HP"> Slytherin</label>
  </form><br />
</div>

<section>
  <h4>Click update profile to save your choices.</h4>
</section>
<div>
  <form>
    <input type="submit" value="Update Profile" id="submit" /><br /><br />
  </form>
</div>

<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>
