<section>
  <h3>Click on the fandom name to choose your factions.</h3>
</section>

<!-- ABSOLUTELY NEED -->
<button
  onclick="myFunction('Demo1')"
  class="w3-button w3-block w3-center-align background"
>
  Star Wars</button>

<div id="Demo1" class="w3-container w3-hide">
  <form class="w3-left-align">
    <input type="checkbox" id="Jedi" name="Jedi" value="Jedi" />
    <label for="SW"> Jedi</label><br />
    <input type="checkbox" id="Sith" name="Sith" value="Sith" />
    <label for="SW"> Sith</label><br />
    <input type="checkbox" id="Wookie" name="Wookie" value="Wookie" />
    <label for="SW"> Wookie</label><br />
    <input type="checkbox" id="Ewok" name="Ewok" value="Ewok" />
    <label for="SW"> Ewok</label>
    <input type="checkbox" id="Droid" name="Droid" value="Droid" />
    <label for="SW"> Droid</label>
  </form><br />
</div>
<button
  onclick="myFunction('Demo2')"
  class="w3-button w3-block w3-center-align background"
>
  Game of Thrones</button>

<div id="Demo2" class="w3-container w3-hide">
  <form class="w3-left-align">
    <input type="checkbox" id="Stark" name="Stark" value="House Stark" />
    <label for="GoT"> House Stark</label><br />
    <input
      type="checkbox"
      id="Targaryen"
      name="Targaryen"
      value="House Targaryen"
    />
    <label for="GoT"> House Targaryen</label><br />
    <input
      type="checkbox"
      id="Lannister"
      name="Lannister"
      value="House Lannister"
    />
    <label for="GoT"> House Lannister</label><br />
    <input type="checkbox" id="Greyjoy" name="Greyjoy" value="House Greyjoy" />
    <label for="GoT"> House Greyjoy</label><br />
    <input type="checkbox" id="Tyrell" name="Tyrell" value="House Tyrell" />
    <label for="GoT"> House Tyrell</label><br />
    <input
      type="checkbox"
      id="Baratheon"
      name="Baratheon"
      value="House Baratheon"
    />
    <label for="GoT"> House Baratheon</label>
    <input type="checkbox" id="Dorne" name="Dorne" value="House Dorne" />
    <label for="GoT"> House Dorne</label>
  </form><br />
</div>
<button
  onclick="myFunction('Demo3')"
  class="w3-button w3-block w3-center-align background"
>
  Harry Potter</button>

<div id="Demo3" class="w3-container w3-hide">
  <form class="w3-left-align">
    <input
      type="checkbox"
      id="Griffyndor"
      name="Griffyndor"
      value="Griffyndor"
    />
    <label for="HP"> Griffyndor</label><br />
    <input type="checkbox" id="Ravenclaw" name="Ravenclaw" value="Ravenclaw" />
    <label for="HP"> Ravenclaw</label><br />
    <input
      type="checkbox"
      id="Hufflepuff"
      name="Hufflepuff"
      value="Hufflepuff"
    />
    <label for="HP"> Hufflepuff</label><br />
    <input type="checkbox" id="Slytherin" name="Slytherin" value="Slytherin" />
    <label for="HP"> Slytherin</label>
  </form><br />
</div>

<section>
  <h4>Click update profile to save your choices.</h4>
</section>
<div>
  <form>
    <input type="submit" value="Update Profile" id="submit" /><br /><br />
  </form>
</div>

<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>