<section>
  <h3>Click on the fandom name to choose your factions.</h3>
</section>

<!-- ABSOLUTELY NEED -->
<button
  onclick="myFunction('Demo1')"
  class="w3-button w3-block w3-center-align background"
>
  Star Wars</button>

<div id="Demo1" class="w3-container w3-hide">
  <form class="w3-left-align">
    <input type="checkbox" id="Jedi" name="Jedi" value="Jedi" />
    <label for="vehicle1"> Jedi</label><br />
    <input type="checkbox" id="Sith" name="Sith" value="Sith" />
    <label for="vehicle2"> Sith</label><br />
    <input type="checkbox" id="Wookie" name="Wookie" value="Wookie" />
    <label for="vehicle3"> Wookie</label><br />
    <input type="checkbox" id="Ewok" name="Ewok" value="Ewok" />
    <label for="vehicle3"> Ewok</label>
  </form><br />
</div>
<button
  onclick="myFunction('Demo2')"
  class="w3-button w3-block w3-center-align background"
>
  Game of Thrones</button>

<div id="Demo2" class="w3-container w3-hide">
  <form class="w3-left-align">
    <input type="checkbox" id="Stark" name="Stark" value="Stark" />
    <label for="vehicle1"> Stark</label><br />
    <input type="checkbox" id="Targaryen" name="Targaryen" value="Targaryen" />
    <label for="vehicle2"> Targaryen</label><br />
    <input type="checkbox" id="Lannister" name="Lannister" value="Lannister" />
    <label for="vehicle3"> Lannister</label><br />
    <input type="checkbox" id="Greyjoy" name="Greyjoy" value="Greyjoy" />
    <label for="vehicle3"> Greyjoy</label><br />
    <input type="checkbox" id="Tyrell" name="Tyrell" value="Tyrell" />
    <label for="vehicle3"> Tyrell</label><br />
    <input type="checkbox" id="Baratheon" name="Baratheon" value="Baratheon" />
    <label for="vehicle3"> Baratheon</label>
  </form><br />
</div>
<button
  onclick="myFunction('Demo3')"
  class="w3-button w3-block w3-center-align background"
>
  Harry Potter</button>

<div id="Demo3" class="w3-container w3-hide">
  <form class="w3-left-align">
    <input
      type="checkbox"
      id="Griffyndor"
      name="Griffyndor"
      value="Griffyndor"
    />
    <label for="vehicle1"> Griffyndor</label><br />
    <input type="checkbox" id="Ravenclaw" name="Ravenclaw" value="Ravenclaw" />
    <label for="vehicle2"> Ravenclaw</label><br />
    <input
      type="checkbox"
      id="Hufflepuff"
      name="Hufflepuff"
      value="Hufflepuff"
    />
    <label for="vehicle3"> Hufflepuff</label><br />
    <input type="checkbox" id="Slytherin" name="Slytherin" value="Slytherin" />
    <label for="vehicle3"> Slytherin</label>
  </form><br />
</div>

<section>
  <h4>Click update profile to save your choices.</h4>
</section>
<div>
  <form>
    <input type="submit" value="Update Profile" id="submit" /><br /><br />
  </form>
</div>

<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>