{{!--                 <div class="section" id="fandoms">
                  <!-- <div id="login">
        <form id="login-form">
          <label for="username">Email: </label>
          <input type="text" id="email" name="username" />
          <label for="password">Password: </label>
          <input type="text" id="password" name="password" />
           <input type="submit" id="loginbtn" value="Login" /><br /><br />
        </form> -->


            <hr>
            <div>
              {{!-- <br>
              <p>Find your new favorite people based on common worlds!</p><br> --}}
            </div>
          </div> --}}
          {{!-- <div class="section">
            <div class="row">
              <div class="column">
                <div class="card">
                  <img src="./images/star_wars_logo.jpg" alt="Avatar" style="width:100%">
                  <h4><b>Star Wars</b></h4>
                  <p>Find your faction</p>
                </div>
              </div>
              <div class="column">
                <div class="card">
                  <img src="./images/got_logo.jpeg" alt="Avatar" style="width:100%">
                  <div>
                    <h4><b>Game of Thrones</b></h4>
                    <p>Choose your allegiance</p>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="card">
                  <img src="./images/hogwarts-house-crest.png" alt="Avatar" style="width:100%">
                  <div>
                    <h4><b>Harry Potter</b></h4>
                    <p>Choose your house</p>
                  </div>
                </div>
              </div>
            </div> --}}



            <p>Select the fandoms you're interested in:</p>
                    <input type="checkbox" id="StarWars" name="StarWars" value="StarWars" />
                    <label for="StarWars"> Star Wars</label><br />
                    <input type="checkbox" id="GoT" name="GoT" value="GoT" />
                    <label for="GoT"> Game of Thrones</label><br />
                    <input type="checkbox" id="harryPotter" name="harryPotter" value="Boat" />
                    <label for="harryPotter"> Harry Potter</label><br /><br />