* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --teal: #22c9fc;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--white);
} */

/* header {
  display: flex;
  flex: 0;
  justify-content: center;
} */

header,
.about,
.home-descript {
  margin-bottom: 1rem;
  padding: 2rem;
}

header,
footer {
  background: #000;
  color: var(--white);
  text-align: center;
  min-height: 7rem;
  /* position: relative; */
}

footer {
  padding-top: 2rem;
  /* position: fixed;
  left: 0;
  bottom: 0; */
  width: 100%;
  flex: 0 0 50px;
  margin-top: auto;
}

.details {
  background-color: #000;
  color: var(--white);
  border: #fff;
  border: 2px solid rgb(156, 156, 156);
}

.HP h1 {
  font-family: "Harry Potter", sans-serif;
  line-height: 5rem;
  /* padding-top: 3%; */
}

.SW h1 {
  font-family: "SF Distant Galaxy", sans-serif;
  line-height: 3rem;
  font-size: 3rem;
  padding-top: 10%;
}

.GoT h1 {
  font-family: "Game of Thrones", sans-serif;
  line-height: 4rem;
  padding-top: 3%;
}

.column {
  text-align: center;
  float: left;
  width: 33%;
  /* padding: 0 10px; */
}

.column2 {
  text-align: center;
  float: left;
  width: 33.3%;
  height: 100%;
  margin-bottom: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.left {
  text-align: left;
}

.smallPrint {
  font-size: 0.75rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.bottom {
  margin-bottom: 2rem;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flexcard {
  width: 25%;
  margin: 1rem;
}

.explore-header {
  width: 50%;
  padding: 3%;
}

.explore-image {
  width: 50%;
  padding: 3%;
}

.avatar-image {
  width: 30%;
}

.tag-icon {
  width: 10%;
}

.row {
  margin: 0 -5px;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  transition: 0.3s;
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

#dragon {
  height: 5rem;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 2rem;
  top: 3rem;
}

.mySlide {
  max-width: 100%;
}

#gc-logo {
  max-width: 40%;
  position: absolute;
  left: 30%;
}

/* .about {
  margin-bottom: 2rem;
} */

/* .home-descript {
  margin: 2rem;
} */

#modalBtn,
#signupBtn {
  position: absolute;
  right: 9rem;
  top: 2rem;
  background-color: white;
}

#signupBtn {
  position: absolute;
  right: 2rem;
}

#Demo1,
#Demo2,
#Demo3 {
  margin: 2rem;
}

.background {
  background-color: rgb(227, 227, 227);
}

.mySlides {
  max-width: 100%;
}

.type-options input[type="radio"] {
  margin-left: 3%;
}

/* .type-options label {
  display: inline-block;
  background-color: #ddd;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 4px;
  margin: 1rem 0;
  text-align: center;
}

.type-options input[type="radio"]:checked + label {
  background-color: var(--teal);
}

.type-options label:hover {
  background-color: rgb(47, 151, 199);
  cursor: pointer;
} */

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 990px) {
  /* .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  } */
  /* .about {
    text-align: left;
  } */
  header {
    margin-bottom: 3rem;
  }

  /* .mySlides,
  .myslides2 {
    max-width: 90%;
    float: none;
    margin-left: 5%;
  } */

  #modalBtn,
  #signupBtn {
    position: absolute;
    top: 5rem;
    right: none;
    background-color: var(--teal);
    max-height: 3rem;
  }

  #gc-logo {
    max-width: 50%;
    position: absolute;
    left: 25%;
  }
}

@media screen and (max-width: 720px) {
  .column,
  .column2 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  /* .about {
    text-align: left;
  } */
  header {
    margin-bottom: 3rem;
  }

  .mySlides,
  .myslides2 {
    max-width: 90%;
    float: none;
    margin-left: 5%;
  }

  #modalBtn,
  #signupBtn {
    position: absolute;
    top: 5rem;
    right: none;
    /* background-color: var(--teal); */
    max-height: 3rem;
  }

  #gc-logo {
    max-width: 60%;
    position: absolute;
    left: 20%;
  }
}
