* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
}

:root {
  --blue: #012052;
  --white: #fff;
  --teal: #22c9fc;
}

header,
footer {
  background-color: var(--blue);
  color: var(--white);
  height: 5rem;
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem;
}

.column {
  text-align: center;
  float: left;
  width: 33%;
  /* padding: 0 10px; */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.left {
  text-align: left;
}

.smallPrint {
  font-size: 0.75rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.bottom {
  margin-bottom: 2rem;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.row {
  margin: 0 -5px;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
