* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
  box-sizing: border-box;
}

:root {
  --blue: #00102b;
  --white: #fff;
  --teal: #22c9fc;
}

/* a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--white);
} */

header,
footer {
  background-color: var(--blue);
  color: var(--white);
  height: 5rem;
  text-align: center;
  padding: 3rem;
  margin-bottom: 2rem;
  min-height: 7rem;
  position: relative;
}

footer {
  padding-top: 2rem;
}

.column {
  text-align: center;
  float: left;
  width: 33%;
  /* padding: 0 10px; */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.left {
  text-align: left;
}

.smallPrint {
  font-size: 0.75rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.bottom {
  margin-bottom: 2rem;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flexcard {
  width: 25%;
  margin: 1rem;
}

.explore-header {
  width: 50%;
  padding: 3%;
}

.explore-image {
  width: 50%;
  padding: 3%;
}

.avatar-image {
  width: 30%;
}

.tag-icon {
  width: 10%;
}

.row {
  margin: 0 -5px;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  transition: 0.3s;
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

#dragon {
  height: 5rem;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 2rem;
  top: 3rem;
}

.home-descript {
  margin: 2rem;
}

#modalBtn,
#signupBtn {
  position: absolute;
  right: 9rem;
  top: 3rem;
  background-color: white;
}

#signupBtn {
  position: absolute;
  right: 2rem;
  top: 3rem;
}

#slider {
  width: 100%;
  /* margin-bottom: 50px; */
}

.myslides {
  width: 100%;
  height: auto;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
