#tag_con {
    background-color: #f1f1f1;
    border-radius: 70px 0px 0px 70px;
    /* margin-right: 30px; */
    padding: 10px;
}

@media screen and (max-width: 600px){
    #tag_con{
        display: none;
    }
}