.grid-container {
  display: grid;
  grid-template-columns: 20% auto;
  grid-gap: 30px;
}

.grid-item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.profile {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* padding-top: 15%; */
  padding-bottom: 40%;
  /* width: 20%; */
  height: 100vh;
  /* grid-row-start: 2; */
}

.profile-card {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(17,17,33,1) 56%, rgba(129,127,150,1) 72%, rgba(72,90,94,1) 100%);
  color: var(--white);
  border: .3rem solid #fff;
  /* max-width: 25vw; */
  margin-left: 30px;
}

.profile-card h3 {
  padding: 0;
}

.profile-card h4 {
  padding: 0;
}

.same-tag-cards {
  background: rgb(0,0,0);
  background: linear-gradient(220deg, rgba(0,0,0,1) 0%, rgba(17,17,33,1) 37%, rgba(129,127,150,1) 65%, rgba(70,90,94,1) 100%);
  color: var(--white);
  border: .3rem solid #fff;
  padding: 30px;
  margin: 60px;
  /* max-width: 55vw; */
}
/* .card-hover div:hover {transform: translateY(-50px);} */
/* .card-hover div:hover {
  transform: translate(-20px, -40px) rotate(-15deg) scale(1.4);
} */

.same-tag-cards h4 {
  font-size: 1rem;
  font-weight:700;
  padding: 0;
}

.Star {
  font-family: "SF Distant Galaxy", sans-serif;
  line-height: 3rem;
  font-size: 3rem;
  /* padding-top: 10%; */
  margin-top: -4rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);

}

.Game {
  font-family: "Game of Thrones", sans-serif;
  line-height: 4rem;
  margin-top: -5rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
}

.Harry {
  font-family: "Harry Potter", sans-serif;
  font-size: 4rem;
  line-height: 5rem;
  margin-top: -5rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

#welcome {
  font-size: 2.5rem;
  font-weight: 900;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
}

#same-tags {
  grid-column-start: 2;
}

#logout {
  position: absolute;
  right: 2rem;
  top: 2rem;
  background-color: white;
}

#post_button {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
}

.bouncy{
  animation:bouncy 5s infinite linear;
  position:relative;
  }

.font-color-black{
  color: #000
}

h2 {
  font-size: 2rem;
  padding: 3%;
  /* text-decoration: underline; */
}

h3 {
  font-size: 1.5rem;
  padding: 2%;
}



h4 {
  font-size: 1rem;
  padding: 1%;
}

h5 {
  font-size: .8rem;
  padding: 1%;
}

.hp-logo{
  font-size: 2rem;
}